.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5% auto;
  width: 100%;
  border-color: aliceblue;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__login-link {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}

.profile__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
    .profile__avatar-opacity {
      display: block;
    }
    .profile__avatar-edit {
      display: block;
    }
  }
}
.profile__avatar-edit {
  position: fixed;
  display: none;
  z-index: 10;
}
.profile__avatar-opacity {
  position: fixed;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 9;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  z-index: 6;
}
.profile__info {
  margin: 0;
  width: 60%;
}
.profile__info-title {
  display: flex;
  flex-direction: row;
}

.profile__info-name {
  font-size: 42px;
  font-weight: 500;
  text-align: left;
  margin: 0;
}

.profile__info-subtitle {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}
.profile__info-edit {
  margin-left: 5%;
  background: none;
  border-style: none;
}

.profile__info-edit:hover {
  opacity: 50%;
}

.profile__add {
  background: none;
  border-style: none;
}
.profile__add-img {
  width: 150px;
  border-style: solid;
  border-width: 2px;
  border-color: #c4c4c4;
  background-color: #000;
  padding: 5% 0px;
}

.profile__add:hover {
  opacity: 50%;
}

@media screen and (max-width: 720px) {
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .profile__add-img {
    width: 90vw;
    height: 50px;
    padding: 2% 0px;
    margin: 10px;
  }

  .profile__info-subtitle {
    text-align: center;
    margin-top: 0px;
  }
  .profile__info-title {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .profile__info {
    margin: 0 auto;
    width: 100%;
  }
}
@media screen and (max-width: 430px) {
  .profile__info-name {
    font-size: 30px;
  }
  .profile__info-edit {
    width: 18px;
  }
}
@media screen and (max-width: 320px) {
  .profile__info-name {
    font-size: 22px;
  }
  .profile__info-subtitle {
    font-size: 14px;
  }
}
